PROJECT_NAME=ubuntu-on-browser
MAINTAINER=ASEP_SAPUTRA
LICENSE=MIT

UBUNTU_VERSION=latest
INSTALLED_VER=latest
DEBIAN_FRONTEND=noninteractive

USERNAME=ASEP_SAPUTRA
PASSWORD=PASSWORD_ASEP_SAPUTRA

PORT=8080